.red {
    background-color:red;
}
.orange{
    background-color:darkorange;
}
.blue {
    background-color:blue;
}
.yellow {
    background-color:greenyellow;
}
.purple{
    background-color:purple;
}
.green {
    background-color:green;
}
.pink {
    background-color:hotpink;
}